@font-face{
    font-family:"Butler";
    src:url("/fonts/Butler_Regular.woff2"),
    local("Butler");
    font-weight:400;   
}
@font-face{
    font-family:"Butler";
    src:url("/fonts/Butler_Light.woff2"),
    local("Butler");
    font-weight:300;   
}
html{
    font-size: 16px;
    line-height: 1.2;
}
*{margin: 0;
}
.header-button{
    position: relative;
    left:50%;
}
.hero{
    position: relative;
    width: 100%;
   

}

.hero-image{
    width: 80%;
    display: block;
    margin: 0 auto;
   
}

.title-block{
    background-color: white;
    text-align: center;
    position: absolute;
    
   transform:translate(50%, -50%);
   
    box-sizing: border-box;
    width: 52%;
    top:50%;
   
    
    padding-top:8.125rem ;
    padding-bottom: 5.625rem;
    
   
}
.title-main{
    
    font-family: "Butler", serif; 
    font-size: 5.4375rem; 
  
    padding-bottom: 1.125rem; 
}
.subtitle-main{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    
}
.biography{
    display: flex;
   
    position:relative;
    width: 100%;
    align-items: stretch;
    gap:13.8%;
    justify-content: space-around;
}

 .header-biography{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    position:absolute;
    bottom:10px;
    right:10px;
    transform: rotate(270deg);
    width: 6.8125rem;
    margin-bottom:10.56rem ;
 }
 

 .biography-image{
    width:51.9%;
    margin-top: 8.4375rem;
    margin-left:8.375rem;
    margin-bottom: 10.56rem;
    /*margin-right:9.1875rem;*/
    max-width: 1000px;
 }
 .title-biography{
    font-family: "Butler", serif;
    font-size: 5.4375rem; 
    font-weight:400;
    margin-top: 26.8875rem;
 } 
 .paragraph-biography{
    font-family: "Roboto",sans-serif;
    font-size: 1.125rem ;
    font-weight: 500;
    margin-bottom:0;

}
.divider{
    width:14px;
    height:4px;
    background-color: black;
    margin-bottom: 1.9375rem;
}
.second-line{
    margin-bottom: 2.9375rem;
}
.blockqoute-biography{
    font-family: "Butler", serif;
    font-size: 2rem;
    width: 415px;
}
 .header-disign{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
 }

.author-title{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.author-text{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
}
.title-testimonials {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
}
 .web{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
}
.testimonials-blockquote{
    font-family: "Butler", serif;
    font: size 2rem;
}
.points  {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
}

.title-points{
    font-family: "Butler", serif;
    font-size: 5.75rem;
}
.list-points{
    font-family: "Butler", serif;
    font-size: 2.125rem; 
   
  }


