@font-face{
    font-family:"Butler";
    src:url("/fonts/Butler_Regular.woff2"),
    local("Butler");
    font-weight:400;   
}
@font-face{
    font-family:"Butler";
    src:url("/fonts/Butler_Light.woff2"),
    local("Butler");
    font-weight:300;   
}
/*
*{
    margin: 0;
    box-sizing:border-box; 
    scroll-behavior: smooth;  
}
* {
    outline: 1px solid red;
    }
*/
html{
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
}

.header-name{
    position: relative;
    display: flex;
    justify-content: center;
}
.header-button{
    border: 5px solid transparent;
    margin:0.5% auto 0;
    background-color:white;
    cursor:pointer;
    border-radius: 10%;
    transition-property: all ;
    transition-duration: 0.7s;
    transform: rotateZ(0deg);

}
.header-button:hover:focus{
background-color: #e5e5d9;
border: 5px solid #c4a9a9;
transform: rotateZ(360deg);
}
/*.rotate{
    animation: rotate 0.7s ease-in-out both;
    
}
@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
*/
main{
    width:100%;
    margin: 0 auto;
    
}
.hero{
    
    width: 100%;
    /*background-color: pink;*/
   /* max-width: 100%;*/
    margin-top: 4.5%;   

}

.hero-block{
    position: relative;
    width: 83.79%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0;
   
}

.desktop-hidden{
    display:none;
}
.hero-image{
    display: block;
    margin: 0 auto;
    width: 74vw;
    max-width: 100%;
    min-height: 490px ;

}

.title-block{
    width: 39vw;
    height: 24.9vw;
    min-width:300px;
    min-height: 120px;
    background-color: white;
   
    position: absolute;    
    transform:translate(50%, -50%);   
    box-sizing: border-box;    
    top:50%;
    left:2.6%;
    margin: 0 auto;
    padding-top: 7.3vw;
   vertical-align: center;


   
}
.title-main{
    
    font-family: "Butler", serif; 
    font-size: 5.4375rem;   
    padding-bottom: 4.5%; 
    background-color: white;
    /*white-space: nowrap;*/
    margin-bottom:0;
   /* margin-top: 2.5%;*/
}
.subtitle-main{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
   /* text-align: center;*/
    margin-left:0;
    margin-top:-0.9%;
    padding-right: 3.5%;
    background-color: white; 
}

/*Biogtraphy*/


.biography{
    display: flex;   
    position:relative;
    width: 90%;
    max-width: 100%;
        
    justify-content: space-around;
    gap:11%;
    margin-bottom:11.8%;
}

 .header-biography{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    position:absolute;
    bottom:-1.9%;
    right: -8.9%;
    transform: rotate(270deg);
   
  
 }
 .div-img-biography{
    width: 60vw;
    max-width: 100%;
    flex-basis: 100%;
    margin:0 auto;
    margin-top: 14.3%;
    margin-left:12.3%;

 }
 

 .biography-image{
    width: 100%;
   
    scale: 113.8%;
    max-width: 100%;
    min-height: 600px;
    
 }
 
 .title-biography{
    font-family: "Butler", serif;
    font-size: 5.4375rem; 
    font-weight:400;
    margin-top: 22.5vw;
    margin-bottom:10.5%;
    line-height: 1.19;
    margin-left: 1%;
    padding-left: 7.5%;
    
   
 } 
 
 .paragraph-biography{
    font-family: "Roboto",sans-serif;
    font-size: 1.125rem ;
    font-weight: 500;
    line-height: 0.7;
    margin-left: 1%;
    padding-left: 7.5%;
    margin-top: -.7%;
  
    
    
}
.divider{
    width:14px;
    height:4px;
    background-color: black;    
    
    margin-left: 9%;
   
   
}
.second-line{
    margin-bottom: 14%;
}
.blockqoute-biography{
    font-family: "Butler", serif;
    font-size: 2rem;
    line-height: 1.21;
    margin-left: 5%;
    border:none;
    padding-top: 5.9%;
    padding-left: 1.5%;
    
}

/*Designers*/
.design{
    position:relative;
    margin-top: 15.1%;
    margin-bottom: 17% ;

}

 .header-design{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    position: absolute;
   
    top: 1.4%;
    right: 26%;
    transform: rotate(270deg);
 }
 .design-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom:10%;
    gap:2%;
    width: 100%;
    /*background-color:aqua ;*/
    overflow-x: auto;
    list-style: none;

 }

 .design-item{
  
    line-height: 0.7;

}
.image-author-clein{
    width:309px;
   margin-bottom:1.5%;
   margin-left: 2.7%;
}
.image-author-red{
    width:312px; 
    margin-bottom:2%;
    margin-left: 2.7%;
}
.huge{
    padding-left:-10%;
    margin-left:-3.5%;
    margin-right:auto;
    width:609px;
 
}
.design-item:last-child{
    margin-right: 5.1%;
}
.author-wonder{
    text-align:start; 
    margin-left:29%;
    line-height: 0.7;
    padding-top: 0.9%;

}
.author-title{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size:16px;
    margin-bottom: 1%;
    margin-left: 3%;

    
    
}
.author-text{
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    letter-spacing:0.8px;
    margin-left: 3%;

}

/*Testomonials*/
.title-testimonials {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    box-sizing: border-box;
    padding-left: 11.75%;
    padding-top: 0.4%;
    margin-bottom:3%;
   /* width: 99%;*/
   background-color: bisque;

   
}
.testimonials-block-main{
    display: grid;
    grid-template-columns: 11.7% 1.8fr 1fr;
    background-color: rgb(208, 168, 133);
    width:100%;
    height: 52.7vw;

}

 .web{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 0;
    padding-top: 30%;
    margin-right: 14%;
    
}
a{
    color:black;
}
.web-item{
    transform: rotate(270deg);
    list-style-type:none;
    padding-top: 18%;
    transition: all 0.4s;
    
}
.web-item:hover{
    transform: rotate(0deg);
    list-style-type:none;
    padding-top: 18%;
   

    
}

.testimonials-subtitle{ 
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0;
    
   


}
.www{
    font-weight: 400;
}

.address-cite{
    display: block;
    
    text-align:  start;
    color:black;
    text-decoration: none;
   
}
.web-image{
margin-left:0;
padding-left: 0;
width:63.7%;
height: 52.7vw;

}
.testimonials{
    margin-bottom: 10%;
    width: 100%;
}
.testimonials-block{
    display: flex;
    flex-direction: column;
    justify-content: start;
   
    

}
.testimonials-blockquote{
    width: 44.78%;
    font-family: "Butler", serif;
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
    margin: -0.5% 0 7% 1.5%;
    padding: 0;
    letter-spacing:-1.1px;
    border:none;

}
.img-blockquote{
    width: 46.9%;
}
.navigation{
    position: relative;  
  
}

.points  {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    position: absolute;
    transform: rotate(270deg);
    left:29.2%;
    top: -1%;
}

.title-points{
    font-family: "Butler", serif;
    font-size: 5.75rem;
   /* margin-left: 55.3%;*/
   text-align: end;
}
.navigation-main{
    display: flex;
    margin-top: 2.2%;
    margin-left: -.4%;
    overflow: hidden;
    gap: 2%;
}
.image-navigation{
    width:23.1vw;
}
.list-points{
    font-family: "Butler", serif;
    font-size: 2.125rem; 
    list-style: none;
    margin-left: 43%;
    margin-top: 8%;
    width:150%;

    
  }
  .list-points-items{
    margin:0;
    margin-bottom:-0.6%;
    padding:0;
    margin-top: 5%;
    padding-bottom: -35.6%;
    height: 27px;
  }
  .half{
    margin-left: 23%;
  }

@supports (display: grid){
 .navigation-main{
    display: grid;
    grid-template-columns: 351px 351px 1fr 161px;
    margin-top: 2.5%;
    margin-left: -1.5%;
    overflow: hidden;
    gap: 2%;
    }
 .list-points{
        font-family: "Butler", serif;
        font-size: 2.125rem; 
        list-style: none;
        margin-left: 19%;
        margin-top: 0;
    
          }
.list-points-items{
        margin:0;
        margin-bottom:-0.6%;
        padding:0;
        margin-top: 2.5%;
       
         }

}
.footer-adaptive{
    display: none;
}
@media  (max-width:428px){
  
    main{
        width: 100%;
        margin: 0 auto;
       
    }
    .title-main{
        margin:0;
        padding:0;
        margin-top:32%;
        margin-bottom: 9%;
        padding:9% 0;
       
    }
    .subtitle-main{
        margin:0;
        padding:0;
        
    }
    .header-name{
        display:none;
    }
    .hero{
       
        max-width: 100%;
        margin:0;
        padding:0;
    }
    .hero-block{
        position: relative;;
        width: 100%;
        max-width: 100%;
        
        margin-bottom: 14%;
       
    }
    .desktop-hidden{
        display:inline;
    }
    .img-div{
       
        width: 100%;
       /* max-width: 300vw;*/
       height: 100vh;
    
        overflow: hidden;
        margin: 0;
        padding: 0;

    }
    .hero-image{
        display: block;
        margin: 0;
        width: 110%;
        max-width: 1440px;
        height: 80vh;
        
        padding: 0;
        scale: 190%;
        
       
    
    }
    
    
    .title-block{
        width: 100%;
        height:95vw;/*потом заменить*/
        margin:0 auto;
        background-color: white;
      
        position: absolute;    
        transform:none; 
        box-sizing: border-box;    
        top:0;
        left:0;
        padding-top: 0;
        max-width: 100%;
       padding-top: 0%;
       padding-bottom: 42vh;
       
    }
    .title-main{
        
        font-family: "Butler", serif; 
        font-size: 4.375rem;   
        padding-bottom: 0; 
        font-weight: 300;
    }
    .subtitle-main{
        font-family: "Roboto",sans-serif;
        font-weight: 500;
        font-size: 1.125rem;
        text-align: center;
        margin-left:0;
        margin-top:-0;
        
    }
/*Biography*/
    
    .biography{
        display: flex;   
        position:relative;
        width: 100%;
        max-width: 1440px;
            
        justify-content: space-around;
        gap:11%;
       
        flex-wrap: wrap;
        padding-top: 3%;
    }
    
     .header-biography{
        font-family: "Roboto",sans-serif;
        font-weight: 700;
        font-size: 1.125rem;
        position:absolute;
        top:0%;
        bottom: 95%;
        right: 3%;
        
        transform: rotate(0deg);
       
      
     }
     .biography-block{
        display:flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 0%;
     }
     .div-img-biography{
        order:1;
        width: 100%;
        height:45vh ;
        max-width: 100%;
        position: relative;
        
        overflow: hidden;
        margin: 0;
        padding: 0;
     }
     .biography-image{
        width: 100%;
        margin-top: 0%;
        margin-left:0%;
        margin-bottom:-0%;
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 90%;
        left: 80%;
        transform:translate(-50%,-50%);
        scale: 163%;
     }
     
     .title-biography{
        font-family: "Butler", serif;
        font-size: 4.875rem; 
        font-weight:400;
        margin-top: 29%;
        margin-bottom:0;
        line-height: 1.19;
        margin-left:4%;
        order:1;
        letter-spacing: 0.003em;
        padding-left: 0;
     } 
     
     .paragraph-biography{
        font-family: "Roboto",sans-serif;
        font-size: 1.125rem ;
        font-weight: 500;
        line-height: 0.8;
        margin-left: 1%;
        width:50%;
        padding-left: 3%;
      
     }   
    .mobile-hidden {
        display: none;
    
    }
    .divider{
        width:14px;
        height:4px;
        background-color: black;    
        margin-bottom: 3.5%;
        margin-left: 1%;
        position: absolute;
        top: 92%;
        display: none;
    }
    
    .second-line{
        margin-bottom: 26.5%;
        line-height: 1.3;
       
    }
    .blockqoute-biography{
        font-family: "Butler", serif;
        font-size: 2rem;
        line-height: 1.21;
        margin: 0;
        text-align: justify;
        border:none;

        
    }
    
    

/*Designers*/
.design{
    position:relative;
    margin-bottom: 57% ;

}

 .header-design{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    position: absolute;
   
    top: 4%;
    right: 3%;
    transform: rotate(0deg);
 }
 .design-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom:10%;
    gap:0.1%;
    width: 100%;
    background-color:transparent;
    overflow-x: auto;
    list-style: none;
    padding-top: 23%;
    padding-left: 3.5%;

 }

 .design-item{
  
    line-height: 0.7;

}
.image-author-clein{
    width:61.2vw;
    margin-bottom:2%;
}
.image-author-red{
    width:61.99vw; 
    margin-bottom:2%;
}
.huge{
    
    padding-left:0;
    margin-left:0;
    margin-right:0;
    margin-bottom: -2.5%;
    /*width:62vw;*/
    order:1;
 
}
.image-author-wonder{
    height:36.4vh;

}
.design-item:last-child{
    margin-right: 0%;
}
.author-wonder{
    text-align:start; 
    margin-left:0%;
    line-height: 0.7;
    padding-top: 0.9%;

}
.author-title{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size:1rem;
    margin-bottom: 2%;
    margin-left: 20%;
   
    
    
    
}

.author-text{
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    letter-spacing:0.8px;
    font-size:1rem;
    padding: 1% 0;
    margin-left: 20%;
    width: 65vw;
    white-space: nowrap;

}
.design-item:nth-child(2) .author-title{
    margin-left: 0;
}
.design-item:nth-child(2) .author-text{
    margin-left: 0;
}

/*Testimonials*/
.title-testimonials {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    box-sizing: border-box;
    width:100%;
    margin-left: 0%;
    margin-bottom:3%;
    text-align: right;
   padding-right: 3%;
}
.testimonials-block-main{
    display: grid;
    grid-template-columns:  100%;
    grid-template-rows: 90% 10%;
    max-width: 100%;
    justify-content: center;
}

 .web{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-right: 0;
    padding-top: 0%;
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    
    grid-row-start: 2 ;
    grid-row-end: 3;
}
a{
    color:black;
}
.web-item{
    transform: rotate(0deg);
    list-style-type:none;
    padding: 1.5% 4% 3%;
    /*min-width: auto;*/
   max-width: 49%;
   
}
.testimonials-subtitle{ 
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 1%;
    
   

}

.address-cite{
    display: block;
  
    text-align:  start;
    color:black;
    text-decoration: none;
   
}
.web-image{
display: none;    
margin-left:1%;


}
.testimonials{
    margin-bottom: 67%;
}
.testimonials-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
   order: 0;

}
.testimonials-blockquote{
    width: 98%;
    font-family: "Butler", serif;
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    margin: 25% 0 20% 1.5%;
    padding: 2%git;
    letter-spacing:-1.1px;
    border: none;

}
.div-img-blockquote{
    position: relative;
    width: 100%;
    height: 42vh;
    overflow: hidden;
     margin: 0;
    padding: 0;
    margin-bottom: 5%;

}
.img-blockquote{
    width: 98%;
    height: 65vh;
    /*object-fit: cover;*/
    position: absolute;
    top: -28%;
    left: 5%;
   /* transform:translate(-50%,-50%);*/
   scale: 110%;
   padding: 0 10% 0 4%;
}
/*navigation*/
.navigation{
    position: relative;  
  
}

.points  {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    position: absolute;
    transform: rotate(0deg);
    left:68%;
    top: 0%;
    right: 3%;
}

.title-points{
    font-family: "Butler", serif;
    font-size: 5.75rem;
    margin: 0 auto;
    padding-top: 30%;
    padding-left: 5%;
    
    
   
}
.navigation-main{
    display: flex;
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 20%;
    overflow: hidden;
    gap: 0%;
    width:100%;
    padding-top: 10%;
    
}
.first{
    display: none;

}
.image-navigation{
    
    width:351px;
    order:1;
    margin:0;
    margin-left:-30%;
    
    padding: 0;
    height: 65vh;
}
.navigation-points{
    width:53%;   
   
    margin-top:10%;
    margin-left: 00%;
    padding:0;
}
.list-points{
    font-family: "Butler", serif;
    font-size: 2.125rem; 
    padding:0;
    margin-left: 0;
    margin-top: 18%;
    width:100%;
    order:0;
 
    
  }
  .list-points-items{
    margin:0;
    margin-bottom:0;
    padding:0;
    margin-top: 5%;
    padding-bottom: 0%;
    height: 4.5vh;
    list-style: none;
    margin-left: 0;
    
  }
  .half{
    margin-left: 23%;
    display: none;
  }

  
.footer-adaptive{
    display: block;
    width: 100%;
    height: 10vh;
 }
.footer-line{
    width:100%;
    height: 2px;
    background-color: black; 
    
}
.footer-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: calc(10vh - 2px);
    padding-left: 0;
}
.footer-list-item{
   width: 20vw;
   text-transform: capitalize;
   font-family: "Butler", serif;
   font-size: 2.5rem;
   text-align: center;
   padding: 6% 0;
   font-weight: 400;
   
}
.footer-list a{
    display: block;
    width: 20vw; 
    height:calc(10vh - 2px);
    
}

@supports (display: grid){
 .navigation-main{
    display: grid;
    grid-template-columns: 351px 351px 1fr 161px;
    margin-top: 2.5%;
    margin-left: -1.5%;
    overflow: hidden;
    gap: 2%;
    }
 .list-points{
        font-family: "Butler", serif;
        font-size: 2.125rem; 
        list-style: none;
        margin-left: 19%;
        margin-top: 0;
    
          }
.list-points-items{
        margin:0;
        margin-bottom:-0.6%;
        padding:0;
        margin-top: 2.5%;
       
         }

        }
}