@font-face{
    font-family:"Butler";
    src:url("/fonts/Butler_Regular.woff2"),
    local("Butler");
    font-weight:400;   
}
@font-face{
    font-family:"Butler";
    src:url("/fonts/Butler_Light.woff2"),
    local("Butler");
    font-weight:300;   
}
html{
    font-size: 16px;
    line-height: 1.2;
}
*{margin: 0;}
.header-main{
    position: relative;
    
}
.header-image{
    width: 100%;
}
.title-div{
    background-color: white;
    text-align: center;
    position: absolute;
    
    box-sizing: border-box;
    width: 52%;
    height: 56%;
    top:20%;
    left:25%;
    
    
   
}
.title-main{
    
    font-family: "Butler", serif; 
    font-size: 5.4375rem; 
    padding-top:8.125rem ; 
    padding-bottom: 1.125rem; 
}
.subtitle-main{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
   /* margin-bottom: 10px;*/
   padding-bottom: 5.625rem;
}
 .header-biography{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
 }
 .title-biography{
    font-family: "Butler", serif;
    font-size: 5.4375rem; 
    font-weight:400;
 } 
 .paragraph-biography{
    font-family: "Roboto",sans-serif;
    font-size: 1.125rem ;
    font-weight: 500;
}
.blockqoute-biography{
    font-family: "Butler", serif;
    font-size: 2rem;
}
 .header-disign{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
 }

.author-title{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.author-text{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
}
.title-testimonials {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
}
 .web{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
}
.testimonials-blockquote{
    font-family: "Butler", serif;
    font: size 2rem;
}
.points  {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
}

.title-points{
    font-family: "Butler", serif;
    font-size: 5.75rem;
}
.list-points{
    font-family: "Butler", serif;
    font-size: 2.125rem; 
   
  }


